body {
  background-color: #343434;
  color: #c3c3c3;
}

li {
  margin-top: 30px;
}

.btn-primary {
  background-color: #4d4d4d;
  color: #c3c3c3;
  border-color: #4d4d4d;
}

.btn-primary:hover {
  background-color: #111111;
  color: #c3c3c3;
  border-color: #111111;
}

.card {
  background-color: #100c08;
}
